{% extends 'base.html' %}
{% load humanize %}

{% block title %}Seguimiento Exámenes Médicos{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="{% url 'employeer-create' %}"><i
    class="fas fa-plus"></i> Nuevo Registro</a>
    <a href="{% url 'export_exams_xls' %}">Export All Exams</a>
<!-- <a class="btn btn-primary" href="{% url 'bulk-invoice' %}"><i
    class="fas fa-upload"></i> Bulk Invoice</a> -->
{% endblock breadcrumb %}

{% block content %}
  <div class="table-responsive">
    <table id="invoicetable" class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <!-- <th>S/N</th> -->
          <th>Colaborador</th>
          <th>Empresa</th>
          <th>Nombre</th>
          <th>ID</th>
          <th>Cargo</th>
          
          <th></th>
        </tr>
      </thead>
      <tbody>

        {% for empr in object_list %}
          <tr class='clickable-row' data-href="{% url 'employeer-detail' empr.id %}">
            <!-- <td>{{ forloop.counter}}</td> -->
            <td>{{ empr}}</td>
            <td>{{ empr.enterprise}}</td>
            <td>{{ empr.employee.name}}</td>
            <td>{{ empr.employee.registration_number}}</td>
            <td>{{ empr.employee.registration_number}}</td>
            <td><a class="btn btn-success btn-sm"
                href="{% url 'examsr-create' %}?employee_record={{ empr.id }}">Añadir Examen</a></td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock content %}


{% block morejs %}
<script>
   $('#invoicetable').DataTable({
    select: false
    });
</script>

{% endblock morejs %}
